[user]
	name = Alexander Zhuravlev
	email = zaa@ikato.com
[diff]

[color]
	ui = auto

[alias]
	d = diff --no-prefix
	dc = diff --cached --no-prefix
	s = status -sb
	ci = commit
	co = checkout
	amend = commit --amend

[merge]
	tool = opendiff

[core]
	editor = vim
